/*!
 Theme Name:   Advocator Child
 Theme URI:    https://rescuethemes.com
 Description:  Advocator Child Theme
 Author:       Rescue Themes
 Author URI:   https://rescuethemes.com
 Template:     advocator
 Version:      1.0
 Tags: white, green, custom-menu, translation-ready, threaded-comments, theme-options, responsive-layout, two-columns, custom-colors, featured-images
 Text Domain:  advocator-child
*/


/* =Theme customization starts here
-------------------------------------------------------------- */
// general
.flex-container{
	display: flex;
	flex-wrap: wrap;
}

.wrapper{
	margin: 0 auto;
	max-width: 1080px;
	max-width: 95%;
}

img{
	max-width: 100%;
}

p{
	font-size: 20px;
	line-height: 1.5;
}

// Navigation 

div.bottom_header_wrap{
	background: white;
	color: black;
	a{
		color: black !important;
	}

	.donation-btn-header{
		flex: 0 1 200px;
	}
	.donation_button{
		.button{
			background-color: #2e75b5;
			color: white !important;
			border-bottom: none;
			padding: 20px 20px;
			margin-left: 10px;
			display: block;
			border-radius: 3px;
		}
	}
	.menu-main-menu{
		padding: 0;
	}
}

.top_header_wrap{
	margin-bottom: 10px;
}

div.bottom_header_wrap{
		.flex-container{
			justify-content: flex-end;
		}
		nav{
		background: white;
		.top-bar-section{
			ul.bottom_nav{
				background: white;
				a{
					background: white !important;
					padding:0 5px;
				}
			}
		}
	}
}



// Header style changes
.home{
	.hero{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-position: 0 50%;
		min-height: 70vh;
		justify-content: center;
		align-items: center;
		.hero-content{
			display:block;
			background: rgba(255,255,255,0.7);
			max-width: 750px;
			color: black;
			text-align: center;
			padding: 30px;
			.flex-container{
				justify-content: space-between;
			}
			h2{
				font-size: 25px;
				color: black;
				line-height: 1.2;
				max-width: 500px;
				margin: 0 auto 40px; 
				font-weight: 600;
			}
		}
		.hero-cta-container{
			flex: 0 1 300px;
			.hero-cta{
				display: block;
				color: white;
				padding: 10px;
				margin-bottom: 15px;
				border-radius: 5px;
				&:hover, &:focus{
					opacity: 0.9;
				}
			}
			p{
				text-align: left;
			}
			.cta-first{
				background: #2e75b5;
			}
			.cta-second{
				background: #5ad3d6;
			}
		}
	}
}

// front-page edits
.wrapper{
	padding: 100px 0;
	.home_latest_news{
		flex: 3 1 400px;
		padding: 0;
		article{
			align-items: center;
			margin: 50px;
			h4{
				font-weight: 600;
				font-size: 20px;
			}
			p{
				margin-bottom: 0;
			}
		}
		h3{
			text-align: left;

		}
		.post-image{
			flex: 0 1 200px;
			margin-right: 30px;
		}
		.post-content{
			flex: 3 1 300px;
		}
		.read-more{
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
			color: #2e75b5;
		}
	}
	.sidebar{
		flex: 1 1 300px;
		min-width: 300px;
		margin-left: 30px;
		.fb_iframe_widget{
			width: 100%;
		}
	}

	.latest-news-more{
		display: block;
		padding: 20px 10px;
		background: #2e75b5;
		color: white;
		text-align: center;
		max-width: 300px;
		text-transform: uppercase;
		margin: 0 auto;
		border-radius: 3px;
		&:hover, &:focus{
			opacity: 0.9;
		}
	}
}


// Grid on media organizations page
.grid-item {
  float: left;
  width: 33.33%;
  padding: 2%;
  margin-bottom: 10px;
/*  min-height: 200px;*/
  list-style: none;
  transition: all 0.3s ease;
}

// footer

footer#site_footer{
	h5{
		margin-bottom: 10px;
	}
	.footer_widget{
		input[type="text"]{
			border: 1px solid #efefef;
		}
	}
	.footer_widget_wrap{
		margin-bottom: 0;
	}
} 

.grid{
	margin: 0;
	padding: 0;
}

.grid-item:hover {
      -webkit-transform: scale(1.05) translateY(-5px);
      transform: scale(1.05) translateY(-5px);
}

@media (max-width: 700px){
	.grid-item{
		width: 50%;
	}
}

@media (max-width: 460px){
	.grid-item{
		width: 100%;
		text-align: center;
	}

	.grid-item img{
		max-height: 175px;
	}
}
